.bio-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 95%;
  height: 100%;
}

.text-box {
  width: 80%;
  margin: auto;
  background: rgba(98, 98, 155, 0.445);
  padding: 2%;
  margin: 2% 0%;
  border-radius: 50px;
  box-shadow: 2px 2px 7px 1px rgb(0, 0, 0);
}

.vid-box {
  height: 400px;
  width: 700px;
  background: rgb(39, 39, 39);
  box-shadow: -4px 3px 4px 1px rgb(0, 0, 0);
  margin-bottom: 2%;
}

.pic-box {
  height: 400px;
  width: 600px;
  background: rgb(104, 65, 65);
  box-shadow: -4px 3px 4px 1px rgb(0, 0, 0);
}
