.tools-box {
  align-content: center;
  width: 96%;
  margin: auto;
  border: 2.5px solid rgba(86, 154, 175, 0.308);
  border-radius: 10px;
  margin-bottom: 120px;
}

.hidden-tools {
  border: 2.5px solid rgb(86, 154, 175);
  border-radius: 10px;
}

h1 {
  padding: 1%;
  color: black;
}

.user-made:hover {
  background-color: #356e8885;
  border-radius: 10px;
  z-index: 0;
  transition: background-color 1s, border-radius 1s;
}

.user-made:hover + .cancel-item,
.cancel-item:hover {
  visibility: visible;
  z-index: 2;
  opacity: 1;
  transition: opacity 1.2s;
}
.cancel-item:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

.edit-item:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

.outer {
  position: relative;

  overflow: hidden;
}
.cancel-item {
  opacity: 0;
  position: absolute;
  z-index: 0;
  right: 38px;
  top: 8px;
  transition: opacity 2s;
  cursor: pointer;
}

.edit-item {
  opacity: 0;
  position: absolute;
  z-index: 0;
  right: 38px;
  top: 48px;
  transition: opacity 2s;
  cursor: pointer;
}
.user-made:hover + .edit-item,
.edit-item:hover {
  visibility: visible;
  z-index: 2;
  opacity: 1;
  transition: opacity 1.2s;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-0.2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(0.8px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-0.8px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(0.8px, 0, 0);
  }
}
