.submit-button {
  background-color: rgb(79, 79, 158);

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: rgb(255, 246, 246);

  border: none;
  border-radius: 10px;
  padding: 2%;

  margin: 2%;
  margin-top: 1%;
  outline: none;
}

.submit-button:hover {
  background-color: #3e8e41;
  outline: none;
}

.submit-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  outline: none;
}
