.outer {
  position: relative;
  overflow: hidden;
}

h1 {
  padding: 1%;
  color: black;
}

/******* For Desktops *******/
@media only screen and (min-width: 768px) {
  .title-area {
    text-align-last: center;
    text-align: center;
    justify-content: center;
    font-size: calc(20px + 1vmin);
    padding-top: 14px;
    display: grid;
    margin: auto;
    margin-bottom: 3%;
    width: 70%;
    border: "none";
    resize: "none";
    transition: background-color 1s, border-radius 1s;
  }
  .author-area {
    text-align-last: left;
    margin: 0;
    height: 4vh;
    width: 50%;
    margin-bottom: 5%;
    text-align: center;
    justify-content: center;
    font-size: calc(14px + 2vmin);
    padding-top: 7px;
  }
  .body-text {
    margin: auto;
    overflow: visible;
    text-align: left;
    justify-content: left;
    text-align-last: left;
    width: 66%;
    outline: none;
    margin-bottom: 2%;
    font-size: 18px;
  }
  .body-text-div {
    margin: 1%;
    overflow: visible;
    max-height: 60vh;
    min-height: 10vh;
    text-align: left;
    justify-content: left;
    text-align-last: left;
    width: 62%;
    outline: none;
    font-size: calc(7px + 2vmin);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    transition: background-color 1s, border-radius 1s;
  }
  .outer-image {
    display: flex;
    align-items: center;
    place-content: center;
    min-height: 50px;
  }
  .image1 {
    margin: 1%;
    padding: 2%;
    max-height: 50%;
    max-width: 70%;
    transition: background-color 1s, border-radius 1s;
  }
  .code-area {
    overflow: hidden;
    text-align: left;
    margin: auto;
    margin-top: 0;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    text-align-last: left;
    width: 70%;
    outline: none;
    font-size: calc(4px + 1vmin);
    transition: background-color 1s, border-radius 1s;
  }
}

/****** For Phones & Pads ***********/
@media only screen and (max-width: 768px) {
  .title-area {
    text-align-last: center;
    text-align: center;
    justify-content: center;
    font-size: calc(15px + 3vmin);
    padding-top: 14px;
    display: grid;
    padding-bottom: 6%;
    margin: auto;
    width: 97%;
    border: "none";
    resize: "none";
    transition: background-color 1s, border-radius 1s;
  }
  .author-area {
    text-align-last: center;
    height: 4vh;
    text-align: center;
    justify-content: center;
    font-size: calc(12px + 2vmin);
    padding-top: 7px;
  }
  .body-text {
    margin: auto;
    overflow: visible;
    text-align: left;
    justify-content: left;
    text-align-last: left;
    width: 94%;
    margin-bottom: 2%;
    outline: none;
    font-size: calc(9px + 2vmin);
  }
  .body-text-div {
    margin: 1%;
    overflow: visible;
    max-height: 60vh;
    min-height: 10vh;
    text-align: left;
    justify-content: left;
    text-align-last: left;
    width: 94%;
    outline: none;
    font-size: calc(8px + 6vmin);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    transition: background-color 1s, border-radius 1s;
  }
  .outer-image {
    display: flex;
    align-items: center;
    place-content: center;
    min-height: 50px;
  }

  .image1 {
    margin: 1%;
    padding: 2%;
    max-height: 50%;
    max-width: 96%;
    transition: background-color 1s, border-radius 1s;
  }
  .code-area {
    overflow: hidden;
    text-align: left;
    margin: auto;
    margin-top: 0;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    text-align-last: left;
    width: 94%;
    outline: none;
    font-size: calc(4px + 1vmin);
    transition: background-color 1s, border-radius 1s;
  }
}
