code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: calc(15px + 1vmin);
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  color: rgb(0, 0, 0);
}

p {
  position: relative;
  z-index: 2;
  color: rgb(0, 0, 0);
}
