.navbar {
  min-width: 60%;
  display: flex;
  margin: auto;
  margin-top: 16px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  align-content: center;
  overflow: inherit;
  margin-bottom: 4%;
  border-bottom: 1px solid grey;
}

.navcontent {
  min-width: 98%;
  display: flex;
  align-items: center;
}

.navbox {
  width: 45%;
  padding: 1%;
  margin: 3%;
  font-size: calc(15px + 0.7vmin);
  user-select: none;
}

.links {
  margin: auto;
  width: 100%;
  position: center;
  text-decoration-line: none;
  color: rgba(22, 40, 78, 0.753);
  font-weight: bold;
  border: solid rgba(0, 0, 255, 0.007) 2px;
  border-radius: 40px;
}

.navbox:hover {
  background-color: #19ff5e3b;
}

.navbox:active {
  background-color: #566ee294;
  box-shadow: 0 5px rgb(80, 51, 51);
  transform: translateY(4px);
  outline: none;
}
.navbox::after {
  background-color: none;
  box-shadow: none;
}
