@media only screen and (min-width: 768px) {
  .outer-box {
    margin-top: 80px;
    margin-left: 10px;
    z-index: 100;
    display: block;
    position: fixed;
    line-height: 50px;
  }

  .fb-style {
    cursor: pointer;
    height: 35px;
    width: 35px;
    opacity: 0.4;
    transition: opacity 1.2s;
    margin-bottom: 10px;
  }

  .fb-style:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity 1.2s;
  }

  .hand-style {
    cursor: pointer;
    height: 35px;
    width: 35px;
    opacity: 0.4;
    transition: opacity 1.2s;
    margin-bottom: 10px;
  }

  .hand-style:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity 1.2s;
  }

  .twit-style {
    cursor: pointer;
    height: 35px;
    width: 35px;
    opacity: 0.4;
    transition: opacity 1.2s;
    margin-bottom: 10px;
  }

  .twit-style:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity 1.2s;
  }

  .bm-style {
    cursor: pointer;
    height: 35px;
    width: 35px;
    opacity: 0.4;
    transition: opacity 1.2s;
    margin-bottom: 10px;
  }

  .bm-style:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity 1.2s;
  }
}
@media only screen and (max-width: 768px) {
  .outer-box {
    visibility: none;
    display: none;
  }
}
