@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cinzel|Cousine|Homemade+Apple|Marck+Script|Maven+Pro|Poiret+One|Unica+One");

/* Phone SCREENS */
@media all and (max-width: 900px) {
  * {
    box-sizing: border-box;
  }
  html {
    max-width: 100vw;
  }
  .App {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    max-width: 100vw;
  }
  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* ::::::::::::::::::::: TITLE BAR AREA ::::::::::::::::::::: */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  p.title-intro {
    transition: all 1.2s ease;
    display: flex;
    padding: 20px 0 20px 0;
    font-size: 34px;
    border-bottom: 4px solid rgb(0, 0, 0);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
    height: 100vh;
    min-height: 60px;
    background: white;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  /* ::::::::::::::::::::: Title Transition :::::::::::::::::::::: */
  p.title-intro.enter.enter-active {
    padding: 20px 0 20px 0;
    font-size: 34px;
    border-bottom: 4px solid rgb(0, 0, 0);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
    height: 22vh;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    transition: all 1.2s ease;
  }
  /* :::::::::::::::::: After Title Transition ::::::::::::::::::: */
  p.title-intro.enter-done {
    padding: 20px 0 20px 0;
    font-size: 34px;
    border-bottom: 4px solid rgb(0, 0, 0);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
    height: 22vh;
    justify-content: center;
    align-items: center;
    min-height: 60px;
  }

  .title-intro.exit {
    padding: 20px 0 20px 0;
    font-size: 34px;
    border-bottom: 4px solid rgb(0, 0, 0);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
    height: 22vh;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    opacity: 0;
    transition: all 3s;
  }
  .title-intro.next.enter-active {
    position: absolute;
    width: 100%;
    padding: 20px 0 20px 0;
    font-size: 34px;
    border-bottom: 4px solid rgb(0, 0, 0);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
    height: 22vh;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    top: 0;
    opacity: 0;
    transition: all 2s ease-in-out;
  }
  .title-intro.next.enter {
    position: absolute;
    width: 100%;
    padding: 20px 0 20px 0;
    font-size: 34px;
    border-bottom: 4px solid rgb(0, 0, 0);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
    height: 22vh;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    top: 0;
    opacity: 0;
    transition: all 2s ease-in-out;
  }
  .title-intro.next.enter-done {
    display: flex;
    font-size: 34px;
    border-bottom: 4px solid rgb(0, 0, 0);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
    height: 22vh;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    top: 0;
    transition: all 2s ease-in-out;
  }

  .second-title-bg {
    position: absolute;
    display: flex;
    width: 100%;
    height: 22vh;
    filter: blur(2px) brightness(90%);
    background: center center;
    background-color: #808080;
    opacity: 0.9;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-image: url("https://i.imgur.com/yA5TtIC.jpg");
  }

  .second-text-title {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    color: white;
    width: 98%;
    font-family: "Homemade Apple", cursive;
    font-size: 26px;
  }

  /* .backup-fonts {
    font-family: "Maven Pro", sans-serif;
    font-family: "Cinzel", serif;
    font-family: "Alfa Slab One", cursive;
    font-family: "Poiret One", cursive;
    font-family: "Marck Script", cursive;
    font-family: "Unica One", cursive;
    font-family: "Homemade Apple", cursive;
    font-family: "Cousine", monospace;
  } */
  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* ::::::::::::::::::::: MAIN MIDDLE SECTION :::::::::::::::::::::: */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  /* :::::::::::::::::: Initial MIDDLE SECTION :::::::::::::::::::: */
  .main-container-start {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 2.5vh;
  }
  /* :::::::::::::::::: Final MIDDLE SECTION ::::::::::::::::::: */
  .main-container {
    margin: auto;

    display: flex;
    flex-direction: column;
    background: rgba(207, 21, 21, 0);
    height: 56vh;
    justify-content: center;
    align-items: center;
  }

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* :::::::::::::::::: CENTER BOX OF MIDDLE SECTION ::::::::::::::::::: */
  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  .inner-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 93%;
    border-radius: 30px;
  }

  .column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* :::::::::::::::::::::::::: INNER BOXES :::::::::::::::::::::::::::: */
  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  .section {
    font-size: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 60%;
    height: 70%;
    margin: 18px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 6px;
    box-shadow: 3px 3px 35px 2px rgba(247, 15, 15, 0.253);
    transition: all 0.7s ease;
    animation-duration: 1.2s;
    overflow: hidden;
    z-index: 1000;
    border: 1px solid grey;
    shadobox-shadow: 0.5px 0.23px 35px 2px rgba(0, 0, 255, 0.192);
  }
  p {
    margin: 0;
  }

  .section:hover {
    transition: all 0.7s ease;
    background: rgba(6, 12, 70, 0.455);
    box-shadow: 0.5px 0.23px 50px 6px rgba(0, 81, 255, 0.411);
  }
  .section:active {
    box-shadow: 6px 8px 20px 10px rgba(228, 181, 29, 0.486);
  }

  .section-move {
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80%;
    height: 4vh;
    margin: 5px;
    cursor: pointer;
    user-select: none;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 1px rgba(247, 15, 15, 0.253);
    transition: all 1.3s ease;
    animation-duration: 2.3s;
    overflow: hidden;
    z-index: 1000;
  }
  p {
    margin: 0;
  }
  .section-move:hover {
    transition: all 0.7s ease;
    background: rgba(6, 12, 70, 0.178);
    box-shadow: 0.5px 0.23px 50px 6px rgba(0, 81, 255, 0.411);
    z-index: 1000;
  }
  .section-move:active {
    box-shadow: 6px 8px 20px 10px rgba(228, 181, 29, 0.486);
  }
  /* :::::::::::::::: Background Inner Boxes ::::::::::::::::::::: */
  .resume-img {
    position: absolute;
    width: 123%;
    top: 0;
    object-fit: contain;
    /* filter: brightness(70%); */
    filter: blur(3px);
    opacity: 0.6;
    z-index: -1000;
  }
  .bio-img {
    position: absolute;
    width: 140%;
    bottom: 0;
    left: 0;
    object-fit: contain;
    filter: blur(3px);
    opacity: 0.6;
    z-index: -1;
  }

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  .social-section-enter-done {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 78vw;

    background-image: linear-gradient(
      to bottom,
      rgba(223, 191, 132, 0.132),
      rgba(77, 255, 187, 0.147),
      rgba(77, 133, 255, 0)
    );
    transition: all 2s ease-in-out;
    margin: auto;
  }
  .social-section-enter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

    background-image: linear-gradient(
      to bottom,
      rgba(223, 191, 132, 0.132),
      rgba(77, 255, 187, 0.147),
      rgba(77, 133, 255, 0)
    );
    transition: all 2s ease-in-out;
    margin: auto;
    opacity: 1;
  }

  .social-section-enter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

    background-image: linear-gradient(
      to bottom,
      rgba(223, 191, 132, 0.132),
      rgba(77, 255, 187, 0.147),
      rgba(77, 133, 255, 0)
    );
    transition: all 2s ease-in-out;
    margin: auto;
    opacity: 0;
  }

  .social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: black;
    margin: 0px 5%;
    cursor: pointer;
    opacity: 0.7;
  }

  .social-item:hover {
    opacity: 1;
    color: rgb(17, 18, 80);
  }

  .social-item:active {
    color: rgba(150, 40, 40, 0.747);
  }
  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* :::::::::::::::::::::::::: FOOTER SECTION :::::::::::::::::::::::::::: */
  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  .footer {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12.5vh;
    bottom: 0;
    background: rgba(7, 27, 31, 0.76);
    z-index: 100;
    color: white;
    font-size: 26px;
    font-family: "Cousine", monospace;
    margin: auto;
    width: 100%;
  }

  .footer-img {
    position: absolute;
    filter: brightness(30%);
    display: flex;
    width: 100%;
    height: 12.5vh;

    background: center center;
    opacity: 0.9;
    z-index: -1;
    filter: hue-rotate(10deg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

  .foot-text {
    margin: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }
  .subscript {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
  }
  .copyrighter {
    margin: 0 10px;
  }
  .linker {
    text-decoration: none;
    margin: 0px 5%;
  }
  .twit {
    height: 20%;
    color: blue;
    z-index: 2;
    opacity: 1;
  }
  .column-container-move {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 10%;
    animation-duration: 1.9s;
    transition: all 2s ease;
  }
  .ole-container {
    margin: auto;
    height: 48.5vh;
    transition: all 2s ease;
  }

  .x-button {
    display: block;
    margin: auto;
    margin-right: 50px;
    margin-top: 30px;
    color: rgb(46, 41, 41);
    font-size: 38px;
    height: 40px;
    width: 40px;
    text-align: right;
  }

  .x-button:hover {
    color: rgb(87, 39, 109);
    cursor: pointer;
  }

  .active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 4px solid rgb(69, 51, 228);
    box-shadow: 2px 0 10px #9ecaed;
    /* box-shadow: 0px 5px blue; */
  }
  /* .backup-fonts {
    font-family: "Maven Pro", sans-serif;
    font-family: "Cinzel", serif;
    font-family: "Alfa Slab One", cursive;
    font-family: "Poiret One", cursive;
    font-family: "Marck Script", cursive;
    font-family: "Unica One", cursive;
    font-family: "Homemade Apple", cursive;
    font-family: "Cousine", monospace;
  } */
}

/* 
.section {
  font-size: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgba(6, 12, 70, 0.356);
  width: 80%;
  height: 70%;
  margin: 30px 30px;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  border: 1px solid grey;
  shadobox-shadow: 0.5px 0.23px 35px 2px rgba(0, 0, 255, 0.192);
} */
