@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cinzel|Cousine|Homemade+Apple|Marck+Script|Maven+Pro|Poiret+One|Unica+One");

/* DESKTOP SCREENS */
@media only screen and (min-width: 900px) {
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  .social-section-enter-done {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-image: linear-gradient(
      to bottom,
      rgba(223, 191, 132, 0.132),
      rgba(77, 255, 187, 0.147),
      rgba(77, 133, 255, 0)
    );
    transition: all 2s ease;
    margin: auto;
  }
  .social-section-enter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

    background-image: linear-gradient(
      to bottom,
      rgba(223, 191, 132, 0.132),
      rgba(77, 255, 187, 0.147),
      rgba(77, 133, 255, 0)
    );
    transition: all 2s ease;
    margin: auto;
    opacity: 1;
  }

  .social-section-enter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

    background-image: linear-gradient(
      to bottom,
      rgba(223, 191, 132, 0.132),
      rgba(77, 255, 187, 0.147),
      rgba(77, 133, 255, 0)
    );
    transition: all 2s ease;
    margin: auto;
    opacity: 0;
  }

  .social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: black;
    margin: 0px 5%;
    cursor: pointer;
    opacity: 0.7;
  }

  .social-item:hover {
    opacity: 1;
    color: rgb(17, 18, 80);
  }

  .social-item:active {
    color: rgba(150, 40, 40, 0.747);
  }
}
