@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cinzel|Cousine|Homemade+Apple|Marck+Script|Maven+Pro|Poiret+One|Unica+One");

/* DESKTOP SCREENS */
@media only screen and (min-width: 900px) {
  * {
    box-sizing: border-box;
  }
  .App {
    text-align: center;
    min-height: 750px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* ::::::::::::::::::::: TITLE BAR AREA ::::::::::::::::::::: */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  p.title-intro {
    transition: all 1.2s ease;
    display: flex;
    padding: 20px 0 20px 0;
    font-size: 34px;
    border-bottom: 4px solid rgb(0, 0, 0);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
    height: 100vh;
    min-height: 60px;
    background: white;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  /* ::::::::::::::::::::: Title Transition :::::::::::::::::::::: */
  p.title-intro.enter.enter-active {
    padding: 20px 0 20px 0;
    font-size: 34px;
    border-bottom: 4px solid rgb(0, 0, 0);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
    height: 22vh;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    transition: all 1.2s ease;
  }
  /* :::::::::::::::::: After Title Transition ::::::::::::::::::: */
  p.title-intro.enter-done {
    padding: 20px 0 20px 0;
    font-size: 34px;
    border-bottom: 4px solid rgb(0, 0, 0);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
    height: 22vh;
    justify-content: center;
    align-items: center;
    min-height: 60px;
  }

  .title-intro.exit {
    padding: 20px 0 20px 0;
    font-size: 34px;
    border-bottom: 4px solid rgb(0, 0, 0);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
    height: 22vh;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    opacity: 0;
    transition: all 3s;
  }
  .title-intro.next.enter-active {
    position: absolute;
    width: 100%;
    padding: 20px 0 20px 0;
    font-size: 34px;
    border-bottom: 4px solid rgb(0, 0, 0);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
    height: 22vh;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    top: 0;
    opacity: 0;
    transition: all 2s ease-in-out;
  }
  .title-intro.next.enter {
    position: absolute;
    width: 100%;
    padding: 20px 0 20px 0;
    font-size: 34px;
    border-bottom: 4px solid rgb(0, 0, 0);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
    height: 22vh;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    top: 0;
    opacity: 0;
    transition: all 2s ease-in-out;
  }
  .title-intro.next.enter-done {
    display: flex;
    font-size: 34px;
    border-bottom: 4px solid rgb(0, 0, 0);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
    height: 22vh;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    top: 0;
    transition: all 2s ease-in-out;
  }

  .second-title-bg {
    position: absolute;
    display: flex;
    width: 100%;
    height: 22vh;
    filter: blur(2px) brightness(90%);
    background: center center;
    background-color: #808080;
    opacity: 0.9;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-image: url("https://i.imgur.com/yA5TtIC.jpg");
  }

  .second-text-title {
    color: white;
    font-family: "Homemade Apple", cursive;
    font-size: 36px;
  }

  /* .backup-fonts {
    font-family: "Maven Pro", sans-serif;
    font-family: "Cinzel", serif;
    font-family: "Alfa Slab One", cursive;
    font-family: "Poiret One", cursive;
    font-family: "Marck Script", cursive;
    font-family: "Unica One", cursive;
    font-family: "Homemade Apple", cursive;
    font-family: "Cousine", monospace;
  } */
  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* ::::::::::::::::::::: MAIN MIDDLE SECTION :::::::::::::::::::::: */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  /* :::::::::::::::::: Initial MIDDLE SECTION :::::::::::::::::::: */
  .main-container-start {
    max-width: 1400px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 67.5vh;
    min-height: 400px;
  }
  /* :::::::::::::::::: Final MIDDLE SECTION ::::::::::::::::::: */
  .main-container {
    max-width: 1400px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
    min-height: 400px;
  }
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* :::::::::::::::::: CENTER BOX OF MIDDLE SECTION ::::::::::::::::::: */
  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  .inner-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    border-radius: 30px;
  }
  .column-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    animation-duration: 1.2s;
  }
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* :::::::::::::::::::::::::: INNER BOXES :::::::::::::::::::::::::::: */
  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  .section {
    font-size: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80%;
    height: 70%;
    margin: 30px 30px;
    cursor: pointer;
    user-select: none;
    border-radius: 6px;
    box-shadow: 3px 3px 35px 2px rgba(247, 15, 15, 0.253);
    transition: all 0.7s ease;
    animation-duration: 1.2s;
    overflow: hidden;
    z-index: 1000;
  }
  .section:hover {
    transition: all 0.7s ease;
    background: rgba(6, 12, 70, 0.455);
    box-shadow: 0.5px 0.23px 50px 6px rgba(0, 81, 255, 0.411);
  }
  .section:active {
    box-shadow: 6px 8px 20px 10px rgba(228, 181, 29, 0.486);
  }
  /* :::::::::::::::: Background Inner Boxes ::::::::::::::::::::: */
  .resume-img {
    position: absolute;
    width: 123%;
    top: 0;
    object-fit: contain;
    /* filter: brightness(70%); */
    filter: blur(3px);
    opacity: 0.6;
    z-index: -1;
  }
  .bio-img {
    position: absolute;
    width: 140%;
    bottom: 0;
    left: 0;
    object-fit: contain;
    filter: blur(3px);
    opacity: 0.6;
    z-index: -1;
  }

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* :::::::::::::::::::::::::: FOOTER SECTION :::::::::::::::::::::::::::: */
  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  .footer {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 12.5vh;
    bottom: 0;
    background: rgba(170, 236, 248, 0.425);
  }
}
