/* PHONE SCREENS */
@media only screen and (max-width: 900px) {
  * {
    box-sizing: border-box;
  }
  .App {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  .title {
    padding: 20px 0 20px 0;
    font-size: 24px;
    border-bottom: 4px solid rgb(0, 0, 0);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
  }

  .main-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
  }

  .inner-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: rgba(207, 21, 21, 0.514);
    width: 96%;
    height: 80%;
    border-radius: 20px;
  }

  .section {
    font-size: 22px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgba(6, 12, 70, 0.356);
    color: white;
    width: 70%;
    height: 50%;
    margin: 7% 0 7% 0;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
  }

  .section:hover {
    background: rgba(6, 12, 70, 0.455);
  }

  .section:active {
    box-shadow: 3px 4px 10px 5px rgba(228, 181, 29, 0.486);
  }
}
